<div ng-include="'components/navbar/navbar.html'"></div>
<div class="container" ng-controller="UsersCtrl" resizable>
    <div class="row">
        <div class='pinned col s12 m6 l4'>
            <div class="card pink lighten-3">
                <div class="card-content white-text">
                    <span class="card-title grey-text text-darken-4">{{user.username}} </span>
                    <br/>
                    <h5>About me:</h5>
                    <p>{{user.description}} </p>
                    <br/>
                    <table>
                        <thead>
                            <tr>
                                <th data-field="listing">Listings</th>
                                <th data-field="followers">Followers</th>
                                <th data-field="following">Following</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{user.listedProducts.length}}</td>
                                <td>{{user.followers.length}}</td>
                                <td>{{user.following.length}}</td>
                        </tbody>
                    </table>
                    <div class="section">
                        <a ng-click='toggleFollow()' class="waves-effect btn blue lighten-2 grey-text text-darken-4">
                            <i class="mdi-action-favorite-outline"></i>{{toggleText}}
                            <i ng-show='followed' class='mdi-action-done'></i>
                        </a>

                        <a ng-click='loadAbout()' class="waves-effect waves-purple btn blue lighten-2 grey-text text-darken-4"><i class="mdi-action-face-unlock"></i>About</a>

                    </div>
                </div>
            </div>
            <!-- <div class="col l12">REVIEWS</div> -->
        </div>
        <div class="row col s12 m4 l6 offset-l6">
            <ul class="col l12 m12 s12 list-unstyled" ng-repeat="product in user.listedProducts">
                <product-card-view info="product"></product-card-view>
            </ul>
        </div>
    </div>
</div>