<div class="row">
    <div class="col s12 m12 l12">

        <!-- Main Card Content -->
        <div class="card deep-purple lighten-2" ng-hide="isBeingModified">

            <div class="card-content white-text">
                <span class="card-title">Seller: {{::offer.sellerId.name}}</span>
                <ul>
                    <h3>Items in this offer:</h3>
                    <li ng-repeat='product in offer.lineItems'>
                        {{product.name}} - Listed Price: {{product.purchasePrice | currency}}
                    </li>
                </ul>
                <hr>
                <div>Offer Total: {{offer.orderTotal | currency}}</div>
            </div>
            <div class="card-action" id="offer-card-action">
                    	<button class='col s6 btn' ng-click="isBeingModified=true">Modify Offer</button>
                    	<button type='button' class=' col s6 btn red darken-2' ng-click="cancelOffer({offerId: offer})">Cancel Offer</button>
                	
                
            </div>
        </div>
        <!-- End Main Cart Content -->

        <!-- Modify Order Form -->
        <div class="card deep-purple lighten-2" ng-show="isBeingModified">
            <div class="card-content white-text">
                <span class="card-title">Change Your Offer</span>
                <ul>
                    <h3>Items in this offer:</h3>
                    <li ng-repeat='product in offer.lineItems'>
                        {{product.name}} - Listed Price: {{product.purchasePrice | currency}}
                    </li>
                </ul>
                <hr>
            </div>
            <div class="card-action" id="offer-card-action">
                <!-- <div class='input-field'> -->
                	<div class='col s1 offset-s3 white-text'><h3>$</h3></div>
                    <input id="modify-input" class='col s4' type='number' placeholder ='0.00' ng-model='offer.orderTotal'></input>
                <!-- </div> -->
                <button class='btn col s6' ng-click="modifyOffer({offer: offer}); isBeingModified=false">Submit</button>
                <button type='button' ng-click="isBeingModified=false" class='btn red darken-2 col s6'>Don't Modify</button>

            </div>
        </div>
        <!-- End Modify Form -->
    </div>
</div>