$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
$fa-font-path: "/bower_components/font-awesome/fonts";

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import 'font-awesome/scss/font-awesome';

/**
 * App-wide Styles
 */

html{
    font-size: 14px !important;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

body {
	font-family: roboto;
	font-weight: 500;
  border-top: none;
}

a{
  &:hover{
    text-decoration: none !important;
  }

}

.productSubtitle{
  padding-top: 0px !important;
  padding-bottom: 5px !important;
  border-top: 0px !important;
  margin-top: -3px !important;

  h6{
    color: #9e9e9e !important;
    margin-bottom: 6px !important;
  }
  h3{
    font-size: 1.1rem !important;
    color: #333333 !important;
    margin-top: 0px !important;
    margin-bottom: 3px !important;
  }
}

.productDescInCard{
  padding-top: 8px !important;
  padding-bottom: 5px !important;
  margin-top: 0px !important;
  margin-bottom: -20px !important;
  p{
    line-height: 140% !important;
    color: #333333 !important;
    margin-bottom: -3px !important;
    font-weight: 400 !important;
  }

  .price {
    color: #333333 !important;
    font-size: 1.2rem !important;
    display: inline-block !important;
    font-weight: 600 !important;
    margin-bottom: 5px !important;
  }

  .strike {
    display: inline-block !important;
    text-decoration: line-through !important;
    font-size: 1.05rem !important;
    color: #9e9e9e !important;
    display: inline-block !important;
    text-indent: 0.5rem !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
  }

}

.productFavInCard{
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  margin-top: 0px !important;
}


.favoriteIcon{
	display: inline-block !important;
	font-size: 2rem !important;
  color: #ffcdd2 !important;
}


.productFavoriteDisplay{
  margin-top: 0px !important;
  margin-bottom: 0px !important;
	display: inline-block !important;
  vertical-align: 25% !important;
}

.card-image{
  display:inline-block !important;
}

.col{
	-webkit-transition: all 0.0s !important;
    -moz-transition: all 0.0s !important;
    -o-transition: all 0.0s !important;
    -ms-transition: all 0.0s !important;
    transition: all 0.0s !important;
}


// Component styles are injected through grunt
// injector
@import 'account/login/login.scss';
@import 'account/manageAccount/manageAccount.scss';
@import 'admin/admin.scss';
@import 'chat/chat.scss';
<<<<<<< HEAD
@import 'easypost/easypost.scss';
=======
@import 'checkout/checkoutDirective/checkoutDirective.scss';
>>>>>>> master
@import 'main/main.scss';
@import 'offer/offer.scss';
@import 'products/oneProductView/oneProductView.scss';
@import 'products/productCardView/productCardView.scss';
@import 'products/products.scss';
@import 'profile/profile.scss';
@import 'sidenav/brandSidenav.scss';
@import 'sidenav/categorySidenav.scss';
@import 'sidenav/conditionSidenav.scss';
@import 'sidenav/navbars.scss';
@import 'users/add_product/add_product.scss';
@import 'users/users.scss';
@import 'modal/modal.scss';
@import 'navbar/navbar.scss';
// endinjector