$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
$fa-font-path: "/bower_components/font-awesome/fonts";

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import 'font-awesome/scss/font-awesome';

/**
 * App-wide Styles
 */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

body {
	font-family: roboto;
	font-weight: 500;
}

// Component styles are injected through grunt
// injector
@import 'account/login/login.scss';
@import 'admin/admin.scss';
@import 'chat/chat.scss';
@import 'easypost/easypost.scss';
@import 'main/main.scss';
@import 'products/oneProductView/oneProductView.scss';
@import 'products/productCardView/productCardView.scss';
@import 'products/products.scss';
@import 'profile/profile.scss';
@import 'sidenav/brandSidenav.scss';
@import 'sidenav/categorySidenav.scss';
@import 'sidenav/conditionSidenav.scss';
@import 'sidenav/navbars.scss';
@import 'users/add_product/add_product.scss';
@import 'users/users.scss';
@import 'modal/modal.scss';
@import 'navbar/navbar.scss';
// endinjector