#custom-dropdown{
    display: inline-block;
    padding: 15px 15px;
    position: relative;
    text-decoration: none;
}
.navbar-brand{
//	color:#fff;
color:#f68eb1;
}

.whiten{
  color:#f68eb1;
	//color:#fff;
	font-size: 17px;
	&:hover,&:focus{
	//	color:#fff;
	color:#f68eb1;
  };

}

#whiten{
  color:#f68eb1;
	//color:#fff;
	&:hover,&:focus{
	//	color:#fff;
  color:#f68eb1;
	}
}
