<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">

  <div class="container">
    <h1>Welcome to CornerFind.com</h1>

    <p class="lead">
    <h2>
    Marketplace for all baby products (e.g. clothes, toys, cribs, strollers etc.)
   </h2>
    </p>

  </div>

</header>



<h3>Search:</h3>
<form class="form" role="form" ng-submit='searchSubmit(searchText)'>
    <div class="form-group">
        <input type="text" ng-model="searchText" class="form-control btn-block" id="searchbox" placeholder="Enter term">
    </div>
</form>
<h2> Search Results: </h1>
   <div class="row">
        <ul class="col m3 l3 s4 list-unstyled" ng-repeat="product in results">
            <product-card-view current-user="currentUser" info="product"></product-card-view>
        </ul>
    </div>
<!-- {{results}} -->

<div ng-show="loggedin">
<h4> Currently logged in as {{currentUser.name}}</h4>
    <button  class="btn btn-primary" ng-click="addProduct()">Make a Listing!</button>
</div>

<div class="container">

    <div class="col l12 m12 s12 page-header ">

</div>

      <div class="col s12">
        <h2>TOP SELLERS</h2>
      </div>
    </div>

  <div class="row">
    <ul class="col l4 m6 s12 list-unstyled" ng-repeat="product in productList">
      <product-card-view info="product" current-user='currentUser'></product-card-view>
    </ul>
  </div>
</div>


<footer class="footer">
    <div class="container">
        <p>sayhello@CornerFind.com</p>
    </div>
</footer>
