<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Welcome to CornerFind.com</h1>
    <p class="lead">Marketplace for all baby products (e.g. clothes, toys, cribs, strollers etc.)</p>
   <!-- <img src="assets/images/yeoman.png" alt="I'm Yeoman"> -->
  </div>
</header>

<div class="container">
  

  <!-- Dropdown from docs -->
  <div ng-controller='DropdownCtrl'>
    <!-- Simple dropdown -->
    <span class='dropdown' on-toggle="toggled(open)">
      <a href class="dropdown-toggle" dropdown-toggle>
        Click me for a dropdown, yo!
      </a>
      <ul class="dropdown-menu">
        <li ng-repeat="choice in items">
          <a href>{{choice}}</a>
        </li>
      </ul>
    </span>
    {{status}}
    <!-- Single button -->
    <div class="btn-group" dropdown is-open="status.isopen">
      <button type="button" class="btn btn-primary dropdown-toggle" ng-mouseover='toggleDropdown($event)' dropdown-toggle ng-disabled="disabled">
        Button dropdown <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li><a href="#">Action</a></li>
        <li><a href="#">Another action</a></li>
        <li><a href="#">Something else here</a></li>
        <li class="divider"></li>
        <li><a href="#">Separated link</a></li>
      </ul>
    </div>
  </div>

  <!-- END Dropdown from docs -->


  <div class="row rm-margin-l rm-margin-r">
    <div class="col-lg-12 page-header rm-padding-l rm-padding-r">
      <div class="col-lg-12 rm-padding-l">
        <h2>TOP SELLERS</h2>
      </div>
    </div>
  </div>
  <div class="row">
    <ul class="col-md-3 col-lg-3 col-sm-4 col-xs-6 list-unstyled" ng-repeat="product in productList">
      <product-card-view info="product"></product-card-view>
    </ul>
  </div>
</div>


<footer class="footer">
  <div class="container">
      <p>sayhello@CornerFind.com</p>
  </div>
</footer>
