<div ng-include="'components/navbar/navbar.html'"></div>


<div class="container" ng-controller="OneProductViewCtrl" resizable>
    <div class="row">
        <div ng-class='isMobile(windowWidth)' class="col s12 l4">
            <div class="card pink lighten-3">

                <div class="card-content white-text row">

                    <span class="col s12 card-title grey-text text-darken-4"> {{product.name}} </span>
                    <div class="col s12">Seller: {{product.userId.username}}</div>
                    <div class="col s12">{{product.desc}} </div>
                    <div class="col s12">Quantity: {{product.qty}} </div>



                    <div class='col s12'>
                        <div class='input-field'>
                            <label class='label'>Your Offer</label>
                            <input class='col s12' type='number' ng-model='offerPrice'></input>
                        </div>
                        <div class='section'>
                            <button ng-click="submitOffer(offerPrice)" class="col s5 waves-effect btn blue lighten-2 grey-text text-darken-4"><i class="mdi-action-shopping-cart left"></i>Offer</button>
                            <button class="col s6 offset-s1 btn blue lighten-2 grey-text text-darken-4">
                                Buyout {{product.price | currency}}
                            </button>

                        </div>



                    </div>

                </div>

            </div>
            <div class="row card-content white-text">
                <button ng-click='userRedirect()' class="waves-effect waves-light btn">More from {{product.userId.username}}</button>
            </div>
            <br/>

            <div class='col s12' ng-show='notoken'>
                <checkoutd product='product' notoken='notoken' stripe-response-handler='getToken()' user='currentUser'></checkoutd>
            </div>





        </div>

        <div class="col l7 offset-l5 s12 m12">
            <div class='row'>
                <div ng-repeat="onePhotoUrl in product.photoUrls">
                    <div class='col l6 m12 center'>
                        <img class="responsive-img" src="{{onePhotoUrl}}">
                    </div>
                </div>
            </div>

            <div ng-controller='OneProductViewCtrl'>
                <chat chatlist='chatlist' addchat='addChat(newChat)'></chat>
            </div>

        </div>

    </div>
</div>