.favorited {
  color: #e53935 !important;
}


.oneProductView{

	::-webkit-input-placeholder {
		color:white;
	}

	:-moz-placeholder{
		color:white;
	}

	::-moz-placeholder{
		color:white;
	}

	:-ms-input-placeholder{
		color:white;
	}

}