.thumbnail {
	padding: 0px;
	a {
		img {
			height: 212px;
		}
	}
	
}

.caption {
	padding-left: 15px !important;
}

.price {
	font-size: 18px;
	font-weight: 300;
}

.product-box {
	height: 350px;
	margin-top: 5px;
	margin-bottom: 5px;
	color: blue;
	border: solid 4px DimGray;
	box-shadow: 0px 4px 8px #A19F9F;
	:hover {
		background-color: DimGray;
		opacity: 0.75;
		a {
			text-decoration: none;
		}
		a, div, img, h4, b, p {
			border: 0px;
		}
	}
}

.thumbnail {
	border-color: DarkGray;
}